#firstLine{
    background-color:crimson;
}

#getUser{
    font-family: 'Lucida Sans';
    font-style: italic;
    font-weight: bold;
    text-align: right;
}


.title{
    font-size: 0.8cm;
    color: thistle;
    font-style: italic;
}

.nav-item{
    font-style: italic;
}

.navbar-brand{
    font-style: italic;   
    font-weight: bold;
}


