<table class="table table-striped">
    <thead class="thead-dark ">
        <tr>
            <th scope="col">Song name</th>
            <th scope="col">Date of release</th>
            <th scope="col">Artist</th>
            <th scope="col">Rating</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of allSongs;">
            <td>{{song.name}}</td>
            <td>{{song.date_of_release}}</td>
            <td>{{song.artist_id}}</td>
            <td>{{song.rating}}</td>
          </tr>
    </tbody>

</table>
<!--div>
    <div *ngFor="let song of allSongs;">
        <span> {{song.name}} </span>
        <span> {{song.date_of_release}} </span>
        <span> {{song.rating}} </span>
        <span> {{getArtistById(song.artist_id)}}</span>
    </div>
</div-->